---
name: Tag and Release

on:
  push:
    branches:
      - main
    paths:
      - "src/validate_plist_xml/__init__.py"

jobs:
  release_new_tag:
    name: Tag and Release
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout source code"
        uses: "actions/checkout@v1"
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Read VERSION file
        id: getversion
        run: echo "::set-output name=version::$(python .\setup.py --version)"
      - name: Wait for tests to succeed
        uses: lewagon/wait-on-check-action@v0.2
        with:
          ref: main
          running-workflow-name: 'Tag and Release'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 20
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: v${{ steps.getversion.outputs.version }}
          prerelease: false
