---
name: tests

on:
  push:
    paths:
      - "**.py"
      - "requirements.txt"
      - ".github/workflows/tests.yaml"
  pull_request:
    paths:
      - "**.py"
      - "requirements.txt"
      - ".github/workflows/tests.yaml"

# https://github.com/actions/setup-python
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['2.6.1', '2.7.1', '3.0', '3.8', '3.9']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run Tests
        run: python tests/tests.py
